# ==============================================================================
# SmartSchool — Variables d'Environnement de Production
# ==============================================================================

# Base de Données PostgreSQL
POSTGRES_USER=smartschool_prod_user
POSTGRES_PASSWORD=mettez_un_mot_de_passe_tres_complexe_ici
POSTGRES_DB=smartschool_prod

# Sécurité Backend API
JWT_SECRET=mettez_une_cle_jwt_aleatoire_tres_longue_64_caracteres
PORT=3001

# Domaine & URLs
# Remplacez par votre nom de domaine ou IP publique
CLIENT_URL=https://votre-domaine.com
VITE_API_URL=https://api.votre-domaine.com/api/v1
